<p-menubar aria-label="Main navigation">
    <div class="navbar-container">
      <div class="title">
        <h1>{{ 'TITLE' | translate }}</h1>
      </div>
      <div class="dropdown">
        <label class="label">{{ 'ENABLE_VIEWING_PERMISSIONS' | translate }}</label>
        <div style="padding: 0vh 1vw 0vh 1vw">
            <p-inputSwitch [(ngModel)]="viewingPermissions" ngDefaultControl aria-label="Enable Viewing Permissions"></p-inputSwitch>
        </div>
        <div style="padding-right: 2vw">
          <p-dropdown 
            [options]="languageOptions" 
            [(ngModel)]="selectedLanguage" 
            ngDefaultControl
            (onChange)="switchLanguage($event.value)"
            placeholder="Select Language"
            appendTo="body"
            aria-label="Select Language">
            <ng-template let-item pTemplate="item">
              <div class="flex align-items-center">
                <img [src]="item.image" alt="{{ item.label }}" style="width: 20px; height: 20px; margin-right: 5px;">
                <span>{{ item.label }}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </div>
</p-menubar>
