.layout-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    width: 100vw; /* Full width */
}

.tree-container {
    width: 20vw; 
    padding: 1vh 1vw; /* Add vertical padding */
}

.table-container {
    flex: 1; /* Take remaining width */
    padding-top: 2vh; /* Top padding for spacing */
}

/* Adjustments for header items */
.title-back-container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items */
    width: 100%; /* Full width */
}

/* Optional: Ensure the search bar is styled well */
.navbar {
    margin-left: auto; /* Push search bar to the right */
}


td i.pi-star {
    cursor: pointer;
}

i.favorited {
    color: gold;
}

.expanded-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Media Queries for responsive design */
@media (max-width: 1024px) {
    .layout-container {
        flex-direction: column; /* Stack layout on small screens */
    }
}
