<div class="header" role="banner" attr.aria-label="{{ 'DATA_TABLE_HEADER' | translate }}">
    <div class="title-back-container" style="display: flex; align-items: center;">
        <button pButton icon="pi pi-arrow-left" class="p-button-text" (click)="goBack()" attr.aria-label="{{ 'GO_BACK' | translate }}"></button>
        <h2 style="margin: 0 10px;">{{ 'EXPEDIENTES_MATERIAL' | translate }}</h2>
        <nav class="navbar navbar-light" style="flex-grow: 1; display: flex; align-items: center; justify-content: flex-end; background-color: white;">
            <form class="form-inline" style="display: flex; padding-right: 2vw;" attr.aria-label="{{ 'SEARCH_FORM' | translate }}">
                <input class="form-control mr-sm-2" type="search" [placeholder]="'SEARCH' | translate" attr.aria-label="{{ 'SEARCH' | translate }}" (input)="onSearch($event)">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">{{ 'SEARCH_BUTTON' | translate }}</button>
            </form>
        </nav>
    </div>
</div>

<div class="layout-container">
    <div class="tree-container">
        <p-tree [value]="filteredFiles" class="w-full md:w-30rem" [filter]="true" filterPlaceholder="{{ 'SEARCH' | translate }}" attr.aria-label="{{ 'FILE_TREE' | translate }}"></p-tree>
    </div>
    <div class="table-container" role="table" attr.aria-label="{{ 'DATA_TABLE' | translate }}">
        <p-table 
            [value]="filteredItems"
            [paginator]="true" 
            [rows]="4" 
            [resizableColumns]="true" 
            [scrollable]="true" scrollHeight="100%" scrollWidth="100%"
            >
            <ng-template pTemplate="header">
                <tr role="row" class="header-frist">
                    <th colspan="5" class="header-buttons-container">
                        <div class="header-left">
                            {{ 'DOCUMENT_COUNT' | translate: { total: getTotalRows() } }}
                        </div>
                    </th>
                    <th colspan="5" class="header-buttons-container">
                        <div class="header-right">
                            <!-- Delete button appears only when selected rows exist -->
                            <button 
                                *ngIf="getSelectedCount() > 0"
                                pButton 
                                type="button" 
                                label="{{ 'DELETE_SELECTED' | translate: { count: getSelectedCount() } }}" 
                                (click)="deleteSelected()" 
                                attr.aria-label="{{ 'DELETE_SELECTED_DOCUMENTS' | translate }}">
                            </button>
                        
                            <!-- Unselect All button appears when there are selected rows -->
                            <button 
                                *ngIf="getSelectedCount() > 0"
                                pButton 
                                type="button" 
                                label="{{ 'UNSELECT_ALL' | translate }}" 
                                (click)="unselectAll()" 
                                attr.aria-label="{{ 'UNSELECT_ALL' | translate }}">
                            </button>
                        
                            <button pButton type="button" label="{{ 'EXPAND_ALL' | translate }}" (click)="expandAll()" attr.aria-label="{{ 'EXPAND_ALL' | translate }}"></button>
                            <button pButton type="button" label="{{ 'COLLAPSE_ALL' | translate }}" (click)="collapseAll()" attr.aria-label="{{ 'COLLAPSE_ALL' | translate }}"></button>
                        </div>
                        
                    </th>
                </tr>
                <tr role="row">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th pSortableColumn>{{ getTableHeaders().name }}</th>
                    <th pSortableColumn>{{ getTableHeaders().label }}</th>
                    <th pSortableColumn>{{ getTableHeaders().status }}</th>
                    <th pSortableColumn>{{ getTableHeaders().date }}</th>
                    <th pSortableColumn>{{ getTableHeaders().id }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-expanded="expanded">
                <tr role="row" [ngClass]="{'p-highlight': item.selected}">
                    <td>
                        <p-checkbox ngDefaultControl [(ngModel)]="item.selected" (change)="onRowSelect(item)"></p-checkbox>
                    </td>
                    <td>
                        <p-button [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="p-button-text" (click)="item.expanded = !item.expanded" attr.aria-label="{{ 'TOGGLE_EXPAND' | translate }}"></p-button>
                    </td>
                    <td><i class="pi pi-file"></i></td>
                    <td>
                        <strong>{{ item.name }}</strong><br>
                        <span>{{ item.description }}</span>
                    </td>
                    <td><i class="pi pi-tag"></i></td>
                    <td>
                        <span>{{ item.status }}</span><br>
                        <hr>
                        <small>{{ item.statusDetails }}</small>
                    </td>
                    <td>{{ item.date | date: 'dd/MM/yyyy, HH:mm' }}</td>
                    <td>{{ item.id }}</td>
                    <td><i class="pi pi-star" [ngClass]="{ 'favorited': item.favorited }" (click)="toggleFavorite(item)" attr.aria-label="{{ 'TOGGLE_FAVORITE' | translate }}"></i></td>
                    <td><p-button icon="pi pi-ellipsis-v" class="p-button-text"></p-button></td>
                </tr>

                <tr *ngIf="item.expanded">
                    <td colspan="10">
                        <div class="expanded-content-grid" role="region" attr.aria-label="{{ 'EXPANDED_CONTENT' | translate }}">
                            <div class="grid-image">
                                <img src="assets/doc.png" alt="{{ 'DOCUMENT_IMAGE' | translate }}">
                            </div>
                            <div class="grid-column">
                                <strong>{{ 'TITLE_1' | translate }}</strong>
                                <p>{{ 'DESCRIPTION_TITLE_1' | translate }}</p>
                                <strong>{{ 'TITLE_2' | translate }}</strong>
                                <p>{{ 'DESCRIPTION_TITLE_2' | translate }}</p>
                            </div>
                            <div class="grid-column">
                                <strong>{{ 'TITLE_3' | translate }}</strong>
                                <p>{{ 'DESCRIPTION_TITLE_3' | translate }}</p>
                                <strong>{{ 'TITLE_4' | translate }}</strong>
                                <p>{{ 'DESCRIPTION_TITLE_4' | translate }}</p>
                            </div>
                            <div class="grid-column">
                                <strong>{{ 'TITLE_5' | translate }}</strong>
                                <p>{{ 'DESCRIPTION_TITLE_5' | translate }}</p>
                                <strong>{{ 'TITLE_6' | translate }}</strong>
                                <p>{{ 'DESCRIPTION_TITLE_6' | translate }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
