<div class="header" role="banner" aria-label="Data Table Header">
    <div class="title-back-container" style="display: flex; align-items: center;">
        <button pButton icon="pi pi-arrow-left" class="p-button-text" (click)="goBack()" aria-label="Go Back"></button>
        <h2 style="margin: 0 10px;">{{ 'Expedientes Material' | translate }}</h2>
        <nav class="navbar navbar-light" style="flex-grow: 1; display: flex; align-items: center; justify-content: flex-end; background-color: white;">
            <form class="form-inline" style="display: flex; padding-right: 2vw;" aria-label="Search Form">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (input)="onSearch($event)">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
            </form>
        </nav>
    </div>
</div>
<div class="layout-container">
    <div class="tree-container">
        <p-tree [value]="filteredFiles" class="w-full md:w-30rem" [filter]="true" filterPlaceholder="{{ 'SEARCH' | translate }}" aria-label="File Tree"></p-tree>
    </div>
    <div class="table-container" role="table" aria-label="Data Table">
        <p-table 
        [value]="filteredItems"
            [paginator]="true" 
            [rows]="10" 
            [resizableColumns]="true" 
            scrollable="true" 
            scrollHeight="flex">
            <ng-template pTemplate="header">
                <tr role="row">
                    <th colspan="10" class="header-buttons-container">
                        <div class="header-left">
                            {{ 'DOCUMENT_COUNT' | translate: { total: getTotalRows() } }}
                        </div>
                        <div class="header-right">
                            <button 
                                pButton 
                                type="button" 
                                label="Delete ({{ getSelectedCount() }})" 
                                (click)="deleteSelected()" 
                                [disabled]="getSelectedCount() === 0"
                                aria-label="Delete Selected Documents">
                            </button>
                            <button pButton type="button" label="Expand All" (click)="expandAll()" aria-label="Expand All"></button>
                            <button pButton type="button" label="Collapse All" (click)="collapseAll()" aria-label="Collapse All"></button>
                        </div>
                    </th>
                </tr>
                <tr role="row">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ getTableHeaders().name }}</th>
                    <th>{{ getTableHeaders().label }}</th>
                    <th>{{ getTableHeaders().status }}</th>
                    <th>{{ getTableHeaders().date }}</th>
                    <th>{{ getTableHeaders().id }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-expanded="expanded">
                <tr role="row" [ngClass]="{'p-highlight': item.selected}">
                    <td>
                        <p-checkbox ngDefaultControl [(ngModel)]="item.selected" (change)="onRowSelect(item)"></p-checkbox>
                    </td>
                    <td>
                        <p-button [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="p-button-text" (click)="item.expanded = !item.expanded" aria-label="Toggle Expand"></p-button>
                    </td>
                    <td><i class="pi pi-file"></i></td>
                    <td>
                        <strong>{{ item.name }}</strong><br>
                        <span>{{ item.description }}</span>
                    </td>
                    <td><i class="pi pi-tag"></i></td>
                    <td>
                        <span>{{ item.status }}</span><br>
                        <hr>
                        <small>{{ item.statusDetails }}</small>
                    </td>
                    <td>{{ item.date | date: 'dd/MM/yyyy, HH:mm' }}</td>
                    <td>{{ item.id }}</td>
                    <td><i class="pi pi-star" [ngClass]="{ 'favorited': item.favorited }" (click)="toggleFavorite(item)" aria-label="Toggle Favorite"></i></td>
                    <td><p-button icon="pi pi-ellipsis-v" class="p-button-text"></p-button></td>
                </tr>

                <tr *ngIf="item.expanded">
                    <td colspan="10">
                        <div class="expanded-content-grid" role="region" aria-label="Expanded Content">
                            <div class="grid-image">
                                <img src="assets/doc.png" alt="Document Image">
                            </div>
                            <div class="grid-column">
                                <strong>Title 1</strong>
                                <p>Description for title 1</p>
                                <strong>Title 2</strong>
                                <p>Description for title 2</p>
                            </div>
                            <div class="grid-column">
                                <strong>Title 3</strong>
                                <p>Description for title 3</p>
                                <strong>Title 4</strong>
                                <p>Description for title 4</p>
                            </div>
                            <div class="grid-column">
                                <strong>Title 5</strong>
                                <p>Description for title 5</p>
                                <strong>Title 6</strong>
                                <p>Description for title 6</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
